body{
	margin: 0;
	padding: 0;
}
.navbar{
	background-color: #0B4672; 
	border-color: #0B4672; 
	border-radius: 0;
	z-index: 1;
}
.navbar-brand{
	padding: 0 0 0 15px;
}
.logo{
	width: 50px;
}
.navbar-form{
	margin-left: 500px;
	padding: 0 40px;
}
.navbar-btn{
	margin-right: 15px;
}

.sidenav-content{
	margin-left: 65px;
	display: inline-block;
	height: 100%; 
    /*position: absolute; 
    top: 20px; 
    left: 0;*/
    overflow-x: hidden; 
    padding-top: 20px;
    vertical-align: top;
}
.sidenav-content h2{
	font-size: 24px;

}
.sidenav-content a{
	display: block;
	font-size: 16px;
}
.main-content{
	display: inline-block;
	width: 75%;
	/*position: relative;*/
	right: 15px;
}
.row{
	margin: 0;
}
.content{
	margin-left: 80px;
	background-color: #E0E0E0;
	padding: 20px;
}
.content h2{
	font-size: 24px;
	padding-bottom: 15px;
	margin: 0;
}
.main-row{
	width: 95%;
	background-color: white; 
	margin: 15px auto;
}
.main-row h3{
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 15px;
	margin: 3px 0;
}
.row-header{
	border-bottom: black solid 1px;
}
.box{
	text-align: center;
	border: black solid 1px;
	margin: 15px 1.6%;
	width: 30%; 
	padding-right: 0; 
	padding-left: 0; 
	height: 200px;
}
.winner{
	width: 80%;
	margin: 0 auto;
}
.box h4{
	font-size: 64px;
	position: relative;
	padding-top: 50px;
}

@media screen and (max-width: 960px){
	.navbar-form{
		margin-left: 300px;
	}
}

@media screen and (max-width: 760px){
	.navbar-form{
		display: none;
	}
	.navbar-header{
		width: 20%;
		display: inline-block;
	}	
	.navbar-btn{
		vertical-align: top;
		float: right;
	}
}