body{
	margin: 0;
	padding: 0;
}
.navbar{
	background-color: #0B4672; 
	border-color: #0B4672; 
	border-radius: 0;
	z-index: 1;
}
.navbar-brand{
	padding: 0 0 0 15px;
}
.logo{
	width: 50px;
}
.navbar-form{
	margin-left: 500px;
	padding: 0 40px;
}
.navbar-btn{
	margin-right: 15px;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidenav-content{
	margin-left: 65px;
}
.sidenav-content h2{
	padding-top: 70px;
	font-size: 24px;
}
.sidenav-content a{
	display: block;
}

@media screen and (max-width: 960px){
	.navbar-form{
		margin-left: 300px;
	}
}

@media screen and (max-width: 760px){
	.navbar-form{
		display: none;
	}
	.navbar-header{
		width: 20%;
		display: inline-block;
	}	
	.navbar-btn{
		vertical-align: top;
		float: right;
	}
}